:root {
  --heading-font-family: "Baloo Thambi 2", cursive;
  --body-font-family: "Baloo Thambi 2", cursive;
  --background-color: rgb(255, 255, 255);
  --text-color: rgb(7, 44, 81);
  --link-color: rgb(7, 44, 81);
  --link-hover-color: rgb(7, 44, 81);
  --section-padding: 0px;
  --nav-height: 116px;
}

html, body { overflow: auto !important; }
